* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
}

window#waybar {
  color: white;
  background: transparent;
  /*
  color: #7e19db;
  box-shadow: inset 0 -3px #7e19db;
  border-bottom: 2px solid #7e19db;
  */
}
window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: red;
}

.modules-left {
  padding: 0 5px;
  margin-left:1px;
}

.modules-right{
  padding: 0 5px;
}



#workspaces,
#window,
#clock,
#tray,
#network,
#wireplumber,
#backlight,
#custom-batteryUDEV,
#custom-dnf,
#custom-powermenu{
  font-weight: bolder;
  padding: 0 5px;
  box-shadow: inset 0 -3px #7e19db;
}

#workspaces {
  padding: 0 5px;
}

#workspaces button {
  padding: 0 5px;
}

#workspaces button.focused {
  color: #7e19db;
}

#workspaces button:hover {
  color: black;
  border: 1px solid #7e19db;
  background: white;
}

#window{
  font-style: italic;
}


